@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.header{
    background-color: #FAF6F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom:solid 1px #E0D5C7;
}


.center-navigation{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: "Instrument Sans", serif;
}

.center-navigation a{
    display: flex;
    color: #1C2E24;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.header-navigation img{
    width: 1.1rem;
    height: auto;
}

.nav-icons{
    width: 1.4rem;
}

@media (min-width: 768px) {
    .center-navigation{
        display: flex;
    }
}

@media (min-width: 1024px) {
    .header{
        padding: 1.5rem 3rem;
    }
}