@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.image-card-container{
    /* margin-bottom: 0.7rem; */
    width: min(100%, 560px);
}

.image-container{
    position: relative;
}

.image{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.image-tag{
    background-color: white;
    display: inline-block;
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(0.6rem, 1vw, 0.65rem);
    font-weight: 500;
    border-radius: 10px;
    padding: min(0.8em, 2.6%);
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
}

.text-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.7rem 0;
}

.text-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap ;
}

.product-name{
    font-family: "Fraunces", serif;
    
}

.product-subname, .product-price{
    font-family: "Instrument Sans", sans-serif;
}

.product-subname{
    font-size: 0.8rem;
    font-style: italic;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.product-name{
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.product-price{
    font-weight: 600;
    font-size: clamp(1.1rem, 1.5vw, 2rem);
}


