@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.image-card-container{
    margin-bottom: 0.7rem;
}

.image-container{
    position: relative;
}

.image{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-tag{
    background-color: white;
    display: inline-block;
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
}

.text-container{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
}

.product-name{
    font-family: "Fraunces", serif;
}

.product-subname, .product-price{
    font-family: "Instrument Sans", sans-serif;
}

.product-subname{
    font-size: 0.8rem;
    font-style: italic;
}

.product-name{
    font-size: 1.15rem;
}

.product-price{
    font-weight: 600;
}
