@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.landing-page{
    background-color: #FAF6F0;
    padding: min(3em, 6%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.landing-small-header{
    color: #4F6B58;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    font-size: clamp(0.6rem, calc(0.8vw + 0.1rem), 3rem);
    letter-spacing: 0.1rem;
}

.landing-header{
    color: #1C2E24;
    font-family: "Fraunces", serif;
    font-size: clamp(2rem, calc(3vw + 1rem), 4rem);
    font-weight: 400;
    line-height: 115%;
}

.landing-subheader{
    color: #4F6B58;
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(0.9rem, calc(0.7vw + 0.5rem), 2.5rem);
    line-height: 150%;
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: min(1em, 8%);
}

.text-landing{
    margin-bottom: 1.3rem;
}

.landing-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.cta-button{
    width: 100%;
    height: auto;  
    border: none;
    border-radius: 20px;
    padding: min(0.7em, 4%) min(0.2em, 8%); 
    font-size: clamp(0.8rem, 1vw, 2rem);
    flex: 1 1 200px;
}

.collection{
    background-color:#1C2E24;
    color: white;
    font-family: "Instrument Sans", serif;
    font-weight: 500;
}

.story{
    background-color: white;
    border: solid 1px #1C2E24;
    color: #1C2E24;
    font-weight: bold;
    font-family: "Instrument Sans", serif;
}

.landing-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    border-radius: 1rem;
}

@media (min-width: 605px){
    .landing-buttons{
       flex-wrap: nowrap;
    }
    .cta-button{
        max-width: 150px;
    }
}

/* 
@media (min-width: 768px) {
    .landing-page{
        display: flex;
        gap: 2rem;
    }

    .landing-text{
        flex: 1;
    }

    .landing-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .landing-buttons{
        display: flex;
        gap: 1rem;
    }
   
    .cta-button{
    width: 100%;
    border-radius: 25px;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

}

@media (min-width: 1024px) {
    .landing-page{
        display: flex;
        gap: 5rem;
        padding: 4rem 3rem;
    }

    .landing-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-header{
        font-size: 2rem;
    }

    .landing-subheader{
        font-size: 1rem;
    }

    .landing-image{
        display: flex;
        width: 50vw;
        height: 70vh;
    }

    .landing-buttons{
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .landing-header{
        font-size: 4rem;
    }

    .landing-subheader{
        font-size: 1.3rem;
    }

    .landing-image{
        width: 50vw;
        height: auto;
    }

    .landing-buttons{
        width: 50%;
    }
} */
