@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.landing-page{
    background-color: #FAF6F0;
    padding: 2rem 1.5rem;
}

.landing-small-header{
    color: #4F6B58;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.landing-header{
    color: #1C2E24;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 115%;
}

.landing-subheader{
    color: #4F6B58;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

.text{
    margin-bottom: 1rem;
}

.landing-buttons{
    margin-top: 1.5rem;
}

.cta-button{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.collection{
    background-color:#1C2E24;
    color: white;
    font-family: "Instrument Sans", serif;
    font-weight: 500;
}

.story{
    background-color: white;
    border: solid 1px #1C2E24;
    color: #1C2E24;
    font-weight: bold;
    font-family: "Instrument Sans", serif;
}

.landing-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 768px) {
    .landing-page{
        display: flex;
        gap: 2rem;
    }

    .landing-text{
        flex: 1;
    }

    .landing-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .landing-buttons{
        display: flex;
        gap: 1rem;
    }
   
    .cta-button{
    width: 100%;
    border-radius: 25px;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

}

@media (min-width: 1024px) {
    .landing-page{
        display: flex;
        gap: 5rem;
        padding: 4rem 3rem;
    }

    .landing-text{
        display: flex;
        /* flex: 0; */
        flex-direction: column;
        justify-content: center;
    }

    .landing-header{
        font-size: 2rem;
    }

    .landing-subheader{
        font-size: 1rem;
    }

    .landing-image{
        display: flex;
        width: 50vw;
        height: 70vh;
    }

    .landing-buttons{
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .landing-header{
        font-size: 4rem;
    }

    .landing-subheader{
        font-size: 1.3rem;
    }

    .landing-image{
        width: 50vw;
        height: auto;
    }

    .landing-buttons{
        width: 50%;
    }
}