@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.method-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.method-card-text{
    margin-bottom: 2rem;
}

.method-card-header{
    color: #1C2E24;
    font-family: "Fraunces", serif;
    font-size: 1.3rem;
}

.method-card-subheader, .method-card-description{
    color: #4F6B58;
    font-family: "Internal Sans", sans-serif;
}

.method-card-subheader{
    color: #4F6B58;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.method-card-description{
    font-size: 0.95rem;
    line-height: 150%;
}

.method-image, .method-card-subheader, .method-card-header{
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .method-card-container{
        display: flex;
        gap: 2rem;
    }

    .inverted{
        flex-direction: row-reverse;
    }

    .method-image-container{
        height: 100%;
        width: 100%;
    }

    .method-card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .method-image-container{
        width: 40%;
        height: auto;
    }
}