@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.promise-section{
    background-color: #F4EDE2;
    padding: 2rem 1.5rem;
}

.promise-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .promise-card{
        flex-direction: row;
    }
}

@media (min-width: 1020px) {
    .promise-section{
        padding: 4rem 3rem;
    }
}