@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.title-container{
    text-align: center;
    margin-bottom: 3rem;
}

.title-small-header{
    color: #4F6B58;
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(0.6rem, 0.85vw, 1rem);
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem;
}

.title-header{
    font-family: "Fraunces", serif;
    font-size: clamp(1.68rem, 4vw, 2.3rem);
    font-weight: 400;
}
